@import "~styles/root";

.app-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  &__container {
    display: grid;
    grid-template-columns: auto auto auto;

    &__post {
      margin: 12px;
    }
  }

  &__btn__create {
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
  }
  &__btn__update {
    background-color: yellow;
    margin: 10px;
    padding: 10px;
  }
  &__btn__delete {
    background-color: red;
    margin: 10px;
    padding: 10px;
  }
  &__btn-getMore {
    margin: 10px;
    background-color: rgb(142, 221, 231);
  }
}
